.expense-item {
    padding: 10px 0 0;
    &:not(:last-child) {
        border-bottom: 1px solid var(--border);
    }
    .expense-item__details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .expense-item__amount {
            color: #f8991c;
            font-weight: 600;
        }
    }
}