@media (min-width: 640px) {
    .sm\:text-sm {
        font-size: .875rem;
        line-height: 1.25rem;
    }
}

.focus\:border-indigo-500:focus {
    --tw-border-opacity: 1;
    border-color: #6366f1;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.transparent-b-b {
    border-color: transparent;
    background: transparent;
}

input::placeholder,
textarea::placeholder {
    color: #6b7280;
    opacity: 1;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.expense-form__group {
    width: 200px;
    margin-right: 1rem;
    .expense-form__label:not(.hidden) {
        display: block;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        text-align: left;
        color: #374151;
    }
    .expense-form__feild-wrapper {
        position: relative;
        margin-top: 0.25rem;
        border-radius: 0.375rem;
        .expense-form__input {
            border: 1px solid #d1d5db;
            padding: 0.5rem 0.2rem;
            border-radius: 0.375rem;
            display: block;
            border-color: #d1d5db;
        }
        .expense-form__currency {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;
            color: #6b7280;
            cursor: pointer;
            @extend .transparent-b-b;
            .expense-form__select {
                background-image: url('../../../assets/arrow.svg');
                background-position: right 0 center;
                background-repeat: no-repeat;
                background-size: 1.5em 1.5em;
                -webkit-print-color-adjust: exact;
                color-adjust: exact;
                -webkit-appearance: none;
                -moz-appearance: none;
                color: #6b7280;
                padding-right: 1rem;
                padding-top: 0;
                padding-bottom: 0;
                border-radius: 0.375rem;
                @extend .transparent-b-b;
            }
        }
    }
}