.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo-wrapper {
        display: flex;
        img {
            width: 40px;
        }
    }
    .theme-btn {
        cursor: pointer;
        font-size: 2rem;
        padding: 5px 10px;
        display: flex;
        justify-content: center;
        position: relative;
        &:hover::after {
            content: attr(id);
            display: flex;
            display: -webkit-flex;
            justify-content: center;
            -webkit-justify-content: center;
            color: var(--tooltip-text);
            background: var(--tooltip-background);
            top: 46px;
            z-index: 1;
            font-size: .6rem;
            max-width: 270px;
            border-radius: 5px;
            padding: .2rem .3rem;
            position: absolute;
            width: max-content;
            width: -moz-max-content;
            width: -webkit-max-content;
            box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.86);
        }
    }
}