.app {
    top: 0;
    width: 100%;
    min-height: 100vh;
    padding: 0 25%;
    position: absolute;
    padding-bottom: 2.5rem;
    color: var(--text-primary);
    background-color: var(--background);
}